<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Lista ogłoszeń</span>
			<div class="pull-right" ng-if="isAdmin">
				<a class="btn btn-xs btn-success" href="javascript:;" ng-click="noticeApi.goToCreate()">
					<span class="glyphicon glyphicon-plus"></span>
					<strong>Nowy</strong>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Lp.</th>
							<th>Tytuł</th>
							<th class="hidden-xs">Autor</th>
							<th class="hidden-xs">Data utworzenia</th>
							<th>Menu</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="notice in notices">
							<td>{{$index + 1}}.</td>
							<td><a href="javascript:;" ng-click="noticeApi.goToUpdate(notice.guid)">{{notice.title}}</a></td>
							<td class="hidden-xs">{{notice.authorLogin}}</td>
							<td class="hidden-xs">{{notice.createDateTime | date:'dd-MMMM-yyyy HH:mm'}}</td>
							<td>
								<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="noticeApi.goToUpdate(notice.guid)" uib-tooltip="Edytuj">
									<span class="glyphicon glyphicon-cog"></span>
									<strong>Edytuj</strong>
								</a>
								<a class="btn btn-xs btn-danger btn-menu" href="javascript:;" ng-click="open(notice)" uib-tooltip="Usuń">
									<span class="glyphicon glyphicon-trash"></span>
									<strong>Usuń</strong>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
