<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Utwórz ogłoszenie</div>
		</div>
		<div class="panel-body">
			<form name="noticeForm" class="form-horizontal">
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Tytuł</label>
					<div class="col-sm-8" ng-class="{
						'has-success': noticeForm.title.$valid,
						'has-error' : noticeForm.title.$invalid && noticeForm.title.$dirty }">
						<input name="title" type="text" class="form-control" ng-model="notice.title" placeholder="Tytuł ogłoszenia" autocomplete="off" focusable required >
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="noticeForm.title.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="noticeForm.title.$invalid && noticeForm.title.$dirty" aria-hidden="true"></span>
						<p class="help-block" ng-show="noticeForm.title.$dirty && noticeForm.title.$error.required">Wpisz tytuł ogłoszenia</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Treść</label>
					<div class="col-sm-8" ng-class="{
                        'has-success': noticeForm.text.$valid,
                        'has-error' : noticeForm.text.$invalid && noticeForm.text.$dirty }">
						<textarea name="text" class="form-control" rows="20" ui-tinymce="tinymceOptions" ng-model="notice.text" required autocomplete="off"></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<button class="btn btn-success" ng-disabled="noticeForm.$invalid || noticeForm.$pristine || noticeForm.$pending" ng-click="save(notice)">Zapisz <span class="glyphicon glyphicon-ok"></span></button>
						<a class="btn btn-danger" href="javascript:;" ng-click="noticeApi.goToList()">
							<span>Powrót</span>
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
