<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Potwierdzenie przybycia zawodnika</div>
		</div>
		<div class="panel-body">
			<form name="receptionForm" class="form-horizontal">

                <div class="form-group">
					<label class="col-sm-3 control-label">Zawodnik</label>
					<div class="col-sm-8" ng-class="{ 'has-error' : receptionForm.competitor.$dirty && receptionForm.competitor.$invalid }">
						<ui-select name="competitor" ng-model="reception.competitor" required>
							<ui-select-match placeholder="Wpisz imię, nazwisko lub e-mail uczestnika (min. 3 znaki)">
								{{$select.selected.firstName}} {{$select.selected.lastName}}
							</ui-select-match>
							<ui-select-choices repeat="competitor in reception.availableCompetitors | propsFilter: { firstName: $select.search, lastName: $select.search, login: $select.search }"
								refresh="refreshCompetitors($select.search)" refresh-delay="0">
								<div >
									<span ng-bind-html="competitor.firstName | highlight: $select.search"></span>
									<span ng-bind-html="competitor.lastName | highlight: $select.search"></span>
								</div>
								<small>
									email: <span ng-bind-html="''+competitor.login | highlight: $select.search"></span>
								</small>
							</ui-select-choices>
						</ui-select>
						<p ng-show="receptionForm.competitor.$dirty && receptionForm.competitor.$invalid" class="help-block">Wyszukaj zawodnika</p>
					</div>
				</div>

                <div class="form-group">
					<label class="col-sm-3 control-label">Zespół</label>
					<div class="col-sm-8">
						<input name="fullName" type="text" class="form-control" ng-model="reception.team.name" readonly autocomplete="off">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Roboty</label>
					<div class="col-sm-8" ng-class="{ 'has-error' : receptionForm.robots.$invalid }">
						<ui-select multiple name="robots" class="form-control" ng-model="reception.robots">
							<ui-select-match placeholder="Wpisz nazwę robota (min. 3 znaki)">{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="robot in reception.availableRobots | propsFilter: { name: $select.search }"
								refresh="refreshRobots($select.search)" refresh-delay="0">
								<div ng-bind-html="robot.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<button class="btn btn-success" ng-disabled="receptionForm.$invalid || receptionForm.$pristine" ng-click="save()">
							<span>Potwierdź</span>
							<span class="glyphicon glyphicon-ok" ng-if="!saveInProgress"></span>
							<i class="fa fa-spinner fa-pulse" ng-if="saveInProgress"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
