<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Wyniki meczu Sumo</div>
		</div>
		<div class="panel-body">
            <form name="sumoMatchForm" class="form-horizontal" novalidate="novalidate">
                <div class="form-group">
                    <label class="col-lg-2 control-label">Dom</label>
                    <div class="col-lg-9">
                        <input name="name" type="text" class="form-control" ng-model="sumoMatch.home.name" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Wyjazd</label>
                    <div class="col-lg-9">
                        <input name="name" type="text" class="form-control" ng-model="sumoMatch.away.name" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-9">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">Wyniki dotychczasowych walk</div>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">Lp.</th>
                                            <th style="width: 40%;">Zwyciezca</th>
                                            <th style="width: 35%;">Przegrany</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in sumoMatch.detailedResults">
                                            <td>{{$index + 1}}.</td>
                                            <td>{{result.winner.name}}</a></td>
                                            <td>{{result.looser.name}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-9">
				<a href="javascript:;" ng-click="homeResultApi.goToSumoMatchList(robot.guid)" class="btn btn-danger">
					<span>Powrót</span>
					<span class="glyphicon glyphicon-remove-circle"></span>
				</a>
            </div>
        </div>
	</div>
</div>
