<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Lista zespołów</span>
			<div class="pull-right" ng-if="isAdmin">
				<a class="btn btn-xs btn-success" ng-click="teamApi.goToCreate()">
					<span class="glyphicon glyphicon-plus"></span>
					<strong>Nowy</strong>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Lp.</th>
						<th>Nazwa</th>
						<th class="hidden-xs">Uczestnicy</th>
						<th class="hidden-xs">Roboty</th>
						<th>Menu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="team in teams">
						<td>{{$index + 1}}.</td>
						<td><a href="javascript:;" ng-click="teamApi.goToUpdate(team.guid)">{{team.name}}</a></td>
						<td class="hidden-xs">{{team.teamMembersCount}}</td>
						<td class="hidden-xs">{{team.robotsCount}}</td>
						<td>
							<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="teamApi.goToUpdate(team.guid)" uib-tooltip="Edytuj">
								<span class="glyphicon glyphicon-cog"></span>
								<strong>Edytuj</strong>
							</a>
							<a class="btn btn-xs btn-danger btn-menu" href="javascript:;" ng-click="open(team)" uib-tooltip="Usuń">
								<span class="glyphicon glyphicon-trash"></span>
								<strong>Usuń</strong>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
