<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Wiadomość e-mail</div>
		</div>
		<div class="panel-body">
			<form name="mailForm" class="form-horizontal">

                <div class="form-group">
					<label class="col-sm-3 control-label">Uczestnicy (pusty=wszyscy)</label>
					<div class="col-sm-8" ng-class="{ 'has-error' : mailForm.selectedCompetitors.$dirty && mailForm.selectedCompetitors.$invalid }">
						<ui-select multiple name="selectedCompetitors" class="form-control" ng-model="mail.competitors">
							<ui-select-match placeholder="Wpisz imię, nazwisko lub e-mail uczestnika (min. 3 znaki)">{{$item.firstName}} {{$item.lastName}}</ui-select-match>
							<ui-select-choices repeat="competitor in availableCompetitors | propsFilter: { firstName: $select.search, lastName: $select.search, login: $select.search }"
								refresh="refreshCompetitors($select.search)" refresh-delay="0">
								<div >
									<span ng-bind-html="competitor.firstName | highlight: $select.search"></span>
									<span ng-bind-html="competitor.lastName | highlight: $select.search"></span>
								</div>
									<small>
										email: <span ng-bind-html="''+competitor.login | highlight: $select.search"></span>
									</small>
							</ui-select-choices>
						</ui-select>
						<p ng-show="mailForm.selectedCompetitors.$dirty && mailForm.selectedCompetitors.$invalid" class="help-block">Dodaj członków zespołu</p>
					</div>
				</div>

				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Tytuł</label>
					<div class="col-sm-8" ng-class="{
						'has-success': mailForm.title.$valid,
						'has-error' : mailForm.title.$invalid && mailForm.title.$dirty }">
						<input name="title" type="text" class="form-control" ng-model="mail.title" placeholder="Tytuł wiadomości" autocomplete="off" focusable required >
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="mailForm.title.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="mailForm.title.$invalid && mailForm.title.$dirty" aria-hidden="true"></span>
						<p class="help-block" ng-show="mailForm.title.$dirty && mailForm.title.$error.required">Wpisz tytuł wiadomości</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Treść</label>
					<div class="col-sm-8" ng-class="{
                        'has-success': mailForm.text.$valid,
                        'has-error' : mailForm.text.$invalid && mailForm.text.$dirty }">
						<textarea name="content" class="form-control" rows="20" ui-tinymce="tinymceOptions" ng-model="mail.content" required autocomplete="off"></textarea>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<button class="btn btn-success" ng-disabled="mailForm.$invalid || mailForm.$pristine || mailForm.$pending" ng-click="save(mail)">
                            <span>Wyślij</span>
                            <span class="glyphicon glyphicon-ok" ng-if="!saveInProgress"></span>
							<span ng-if="saveInProgress"><i class="fa fa-spinner fa-pulse"></i></span>
                        </button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
