<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Podgląd robota</div>
		</div>
		<div class="panel-body">
			<form name="robotForm" class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label">Nazwa</label>
					<div class="col-sm-8">
						<input name="name" type="text" class="form-control" ng-model="robot.name" readonly>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Opis</label>
					<div class="col-sm-8">
						<textarea class="form-control" maxlength="255" rows="4" ng-model="robot.description" readonly></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Właściciel</label>
					<div class="col-sm-8">
						<ui-select name="owner" ng-model="robot.owner" ng-disabled="true">
							<ui-select-match placeholder="Wpisz imię, nazwisko lub e-mail uczestnika (min. 3 znaki)">
								{{$select.selected.firstName}} {{$select.selected.lastName}}
							</ui-select-match>
							<ui-select-choices repeat="competitor in availableCompetitors">
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<div class="form-group" ng-if="robot.robotImagePath && !robot.image">
					<label class="col-sm-3 control-label">Podgląd</label>
					<div class="col-sm-8">
						<img ng-src="{{robot.robotImagePath}}" height="200" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<a href="javascript" ng-click="goBack();" class="btn btn-danger">Powrót <span class="glyphicon glyphicon-remove-circle"></span></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
