<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Edycja robota</div>
		</div>
		<div class="panel-body">
			<form name="robotForm" class="form-horizontal" autocomplete="off">
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Nazwa</label>
					<div class="col-sm-8" ng-class="{
						'has-success': robotForm.name.$valid,
						'has-error' : robotForm.name.$invalid && robotForm.name.$dirty }">
						<input name="name" type="text" class="form-control" ng-model="robot.name" ng-model-options="{ updateOn: 'blur' }"
								ui-validate-async="{alreadyExists: 'robotNameIsFree($modelValue)' }"
								placeholder="Nazwa robota" focusable required >
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="robotForm.name.$valid && !robotForm.name.$pending.alreadyExists" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="robotForm.name.$invalid && robotForm.name.$dirty" aria-hidden="true"></span>
						<span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="robotForm.name.$pending.alreadyExists"></i>
						</span>
						<p class="help-block" ng-show="robotForm.name.$dirty && robotForm.name.$error.alreadyExists">Podana nazwa robota już istnieje</span>
						<p class="help-block" ng-show="robotForm.name.$dirty && robotForm.name.$error.required">Wpisz nazwę robota</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Typ</label>
					<div class="col-sm-8">
						<input name="result" type="text" class="form-control" ng-model="robot.robotType.name" readonly>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Opis</label>
					<div class="col-sm-8">
						<textarea class="form-control" maxlength="255" rows="4" ng-model="robot.description"></textarea>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Zdjęcie</label>
					<div class="col-sm-8">
						<div class="input-group">
							<span class="input-group-btn">
								<span class="btn btn-primary btn-file">
									Wybierz <input type="file" ng-model="robot.image" file-chooser="robot.image"/>
								</span>
							</span>
							<input type="text" name="robotImage" class="form-control" ng-model="robot.image.file.name" readonly=""/>
						</div>
					</div>
				</div>

				<div class="form-group" ng-if="robot.image">
					<label class="col-sm-3 control-label">Podgląd</label>
					<div class="col-sm-8">
						<img ng-src="{{robot.image.preview}}" height="200" />
					</div>
				</div>

				<div class="form-group" ng-if="robot.robotImagePath && !robot.image">
					<label class="col-sm-3 control-label">Podgląd</label>
					<div class="col-sm-8">
						<img ng-src="{{robot.robotImagePath}}" height="200" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<button class="btn btn-success" ng-disabled="robotForm.$invalid || robotForm.$pristine" ng-click="save(robot)">Zapisz <span class="glyphicon glyphicon-ok"></span></button>
						<a href="javascript:;" ng-click="goBack()" class="btn btn-danger">
							<span>Powrót</span>
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
