<div class="container-fluid">
	<div ng-include="'views/home/home.view.html'"></div>

    <div id="robots" role="tabpanel" class="tab-pane">
		<div class="panel panel-primary">
		  <!-- Default panel contents -->
			<div class="panel-heading">
                <span class="panel-title">Lista robotów</span>
    			<div class="pull-right">
    				<a class="btn btn-xs btn-success" href="javascript:;" ng-click="homeRobotApi.goToCreate()">
    					<span class="glyphicon glyphicon-plus"></span>
    					<strong>Nowy</strong>
    				</a>
    			</div>
			</div>
			<div class="panel-body">
				<p>Lista robotów, które zarejestrowałeś:</p>
			</div>

			<!-- Table -->
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th style="width: 5%;">Lp.</th>
						<th style="width: 20%;">Nazwa</th>
						<th style="width: 15%;" class="hidden-xs">Typ</th>
						<th style="width: 20%;" class="hidden-xs">Uczestnik</th>
						<th style="width: 15%;" class="hidden-xs">Zespół</th>
						<th style="width: 25%;">Menu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="robot in robots">
						<td>{{$index + 1}}.</td>
						<td>
							<a href="javascript:;" ng-click="homeRobotApi.goToUpdate(robot.guid)">{{robot.name}}</a>
						</td>
						<td class="hidden-xs">{{robot.robotType.name}}</td>
						<td class="hidden-xs">{{robot.owner.login}}</td>
						<td class="hidden-xs">{{robot.owner.teamName}}</td>
						<td>
							<div style="display: inline-block;">
								<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="homeRobotApi.goToUpdate(robot.guid)" uib-tooltip="Edytuj">
									<span class="glyphicon glyphicon-cog"></span>
									<strong>Edytuj</strong>
								</a>
								<a class="btn btn-xs btn-success btn-menu" ng-click="openResults(robot)" uib-tooltip="Wyniki">
									<span class="glyphicon glyphicon-cog"></span>
									<strong>Wyniki</strong>
								</a>
								<a class="btn btn-xs btn-danger btn-menu" ng-click="open(robot)" uib-tooltip="Usuń">
									<span class="glyphicon glyphicon-trash"></span>
									<strong>Usuń</strong>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<p ng-if="robots.length < 1">Brak wyników</p>
		</div>
	</div>
</div>
