<div class="container-fluid">
	<div class="panel panel-primary">
        <div class="panel-heading">
			<span class="panel-title">Lista meczów sumo</span>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Lp.</th>
							<th>Dom</th>
							<th>Wyjazd</th>
							<th>Zwycięzca</th>
							<th>Przegrany</th>
							<th>Menu</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="sumoMatch in sumoMatches">
							<td>{{sumoMatch.matchDayNumber + 1}}.</td>
							<td class="hidden-xs">{{sumoMatch.home.name}}</td>
							<td class="hidden-xs">{{sumoMatch.away.name}}</td>
							<td class="hidden-xs">
								<a href="javascript:;" ng-click="robotApi.goToUpdate(sumoMatch.winner.guid)">{{sumoMatch.winner.name}}</a>
							</td>
							<td class="hidden-xs">
								<a href="javascript:;" ng-click="robotApi.goToUpdate(sumoMatch.looser.guid)">{{sumoMatch.looser.name}}</a>
							</td>
							<td>
                                <div style="display: inline-block;">
    								<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="sumoMatchApi.goToUpdate(competition.guid, sumoMatch.guid)" uib-tooltip="Edytuj">
    									<span class="glyphicon glyphicon-cog"></span>
    									<strong>Edytuj</strong>
    								</a>
    							</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<a href="javascript:;" ng-click="sumoMatchApi.goToSumoCompetitionList()" class="btn btn-danger">
				<span>Powrót</span>
				<span class="glyphicon glyphicon-remove-circle"></span>
			</a>
		</div>
	</div>
</div>
