<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Wyniki meczu Sumo</div>
		</div>
		<div class="panel-body">
            <form name="sumoMatchForm" class="form-horizontal" novalidate="novalidate">
				<div class="form-group">
                    <div class="col-lg-offset-1 col-lg-10">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-title">Dom</div>
							</div>
							<div class="panel-body">
								<div class="form-group">
				                    <label class="col-lg-2 control-label">Robot</label>
				                    <div class="col-lg-9">
				                        <input name="name" type="text" class="form-control" ng-model="sumoMatch.home.name" readonly>
				                    </div>
				                </div>

								<div class="form-group">
				                    <label class="col-lg-2 control-label">Wygrane walki</label>
				                    <div class="col-lg-9">
				                        <input name="name" type="text" class="form-control" ng-model="homeWins" readonly>
				                    </div>
				                </div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
                    <div class="col-lg-offset-1 col-lg-10">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-title">Wyjazd</div>
							</div>
							<div class="panel-body">
				                <div class="form-group">
				                    <label class="col-lg-2 control-label">Robot</label>
				                    <div class="col-lg-9">
				                        <input name="name" type="text" class="form-control" ng-model="sumoMatch.away.name" readonly>
				                    </div>
				                </div>
								<div class="form-group">
				                    <label class="col-lg-2 control-label">Wygrane walki</label>
				                    <div class="col-lg-9">
				                        <input name="name" type="text" class="form-control" ng-model="awayWins" readonly>
				                    </div>
				                </div>
							</div>
						</div>
					</div>
				</div>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-10">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div class="panel-title">Wynik walki</div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Zwycięzca</label>
                                    <div class="col-lg-9">
                						<select class="form-control" ng-options="robot as robot.name for robot in robots track by robot.name"
												ng-model="newResult.winner"
												ng-disabled="requiredNumberOfWins">
                						</select>
                					</div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Przegrany</label>
                                    <div class="col-lg-9">
                						<select class="form-control" ng-options="robot as robot.name for robot in robots track by robot.name" ng-model="newResult.looser" readonly>
                						</select>
                					</div>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-2">
                                        <button class="btn btn-info" ng-click="addResult()" ng-disabled="!newResult.winner || requiredNumberOfWins">Dodaj</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-1 col-lg-10">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title">Wyniki dotychczasowych walk</div>
                            </div>
                            <div class="panel-body">
								<div class="form-group">
				                    <label class="col-lg-4 control-label">Wymagana ilość zwyciestw</label>
				                    <div class="col-lg-7">
				                        <input name="name" type="text" class="form-control" ng-model="sumoMatch.competition.requiredNumberOfWins" readonly>
				                    </div>
				                </div>
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width: 10%;">Lp.</th>
                                            <th style="width: 40%;">Zwyciezca</th>
                                            <th style="width: 35%;">Przegrany</th>
                                            <th style="width: 15%;">Menu</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="result in sumoMatch.detailedResults">
                                            <td>{{$index + 1}}.</td>
                                            <td>{{result.winner.name}}</a></td>
                                            <td>{{result.looser.name}}</td>
                                            <td>
                                                <div class="btn btn-xs btn-danger" ng-click="removeResult(result)">
                                                    <span class="glyphicon glyphicon-minus"></span>
                                                    <strong>Usuń</strong>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
			<div class="form-group">
	            <div class="col-lg-offset-1 col-lg-10">
	                <button class="btn btn-success"
							ng-disabled="sumoMatchForm.$invalid || sumoMatchForm.$pristine || sumoMatchForm.$pending || !requiredNumberOfWins"
							ng-click="save(sumoMatch)">
						<span>Zapisz</span>
						<span class="glyphicon glyphicon-ok"></span>
					</button>
	                <a href="javascript:;" ng-click="sumoMatchApi.goToList(competition.guid)" class="btn btn-danger">
						<span>Powrót</span>
						<span class="glyphicon glyphicon-remove-circle"></span>
					</a>
	            </div>
	        </div>
        </div>
	</div>
</div>
