<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Edytuj wynik</div>
		</div>
		<div class="panel-body">
			<form name="freestyleResultForm" class="form-horizontal" novalidate="novalidate">
				<div class="form-group">
					<label class="col-lg-2 control-label">Przyznane miejsce</label>
					<div class="col-lg-9">
						<select class="form-control" ng-options="place as place.name for place in places track by place.name" ng-model="freestyleResult.selectedPlace" required>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Konkurencje</label>
					<div class="col-lg-9">
						<input name="result" type="text" class="form-control" ng-model="freestyleResult.selectedCompetition.name" disabled="true">
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Robot</label>
					<div class="col-lg-9" ng-class="{ 'has-error' : freestyleResultForm.selectedRobot.$invalid && freestyleResultForm.selectedRobot.$dirty }">
						<ui-select name="selectedRobot" ng-model="freestyleResult.selectedRobot" required>
							<ui-select-match placeholder="Wpisz nazwę robota (min. 3 znaki)">
								{{$select.selected.name}}
							</ui-select-match>
							<ui-select-choices repeat="robot in availableRobots | propsFilter: { name: $select.search }"
								refresh="searchRobots($select.search)" refresh-delay="0">
								<div >
									<span ng-bind-html="robot.name | highlight: $select.search"></span>
								</div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<button class="btn btn-success" ng-disabled="freestyleResultForm.$invalid || freestyleResultForm.$pristine || freestyleResultForm.$pending" ng-click="save(freestyleResult)">Zapisz <span class="glyphicon glyphicon-ok"></span></button>
						<a href="javascript:;" ng-click="goBack()" class="btn btn-danger">
							<span>Powrót</span>
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
