<div class="container-fluid login-form">
	<div class="panel panel-primary">
		<div class="panel-heading">Robot Challenge 2016</div>
		<div class="panel-body">
			<h4>Zostałeś wylogowany.</h4>
			<a href="/panel/login">Zaloguj ponownie</a>
		</div>
	</div>
</div>
