<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Robot Challenge 2016</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="dist/css/lib.min.css">
		<link rel="stylesheet" type="text/css" href="dist/css/app.min.css">
	</head>
	<body data-ng-app="app" ng-cloak>
		<div data-ng-controller="panelController" element-ready="appReady()">
			<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="4000" ng-bind="alert.msg"></uib-alert>
			<div class="container" style="margin-top: 20px;">

				<div class="preloader" ng-if="!isInitialized">
				    <div>
				        <h3>Loading...</h3>
				    </div>
				    <i class="fa fa-spinner fa-spin fa-5x"></i>
				</div>

				<div ng-include="'views/core/navigation/navigation.view.html'" ng-if="isInitialized"></div>
				<div ng-view="" ng-if="isInitialized && isAuthenticated"></div>
			</div>
		</div>

		<script src='https://cdn.tinymce.com/4/tinymce.min.js'></script>
		<script src="dist/js/lib.min.js"></script>
		<script src="dist/js/app.min.js"></script>
	</body>
</html>
