<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Profil uczestnika</div>
		</div>
		<div class="panel-body">
			<form name="competitorForm" class="form-horizontal">
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Login</label>
					<div class="col-sm-8" class="has-success">
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input name="login" type="email" class="form-control" ng-model="competitor.login" placeholder="Login" readonly autocomplete="off" required>
						</div>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.login.$valid" aria-hidden="true"></span>
					</div>
				</div>
				<!-- <pre>{{competitorForm | json}}</pre> -->
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Imię</label>
					<div class="col-sm-8" ng-class="{
						'has-success': competitorForm.firstName.$valid,
						'has-error' : competitorForm.firstName.$invalid && competitorForm.firstName.$dirty }">
						<input name="firstName" type="text" class="form-control" ng-model="competitor.firstName" placeholder="Imię" focusable autocomplete="off" required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.firstName.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.firstName.$invalid && competitorForm.firstName.$dirty" aria-hidden="true"></span>
						<p ng-show="competitorForm.firstName.$invalid && competitorForm.firstName.$dirty" class="help-block">Wpisz imię</p>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Nazwisko</label>
					<div class="col-sm-8" ng-class="{
						'has-success': competitorForm.lastName.$valid,
						'has-error' : competitorForm.lastName.$invalid && competitorForm.lastName.$dirty }">
						<input name="lastName" type="text" class="form-control" ng-model="competitor.lastName" placeholder="Nazwisko" autocomplete="off" required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.lastName.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.lastName.$invalid && competitorForm.lastName.$dirty" aria-hidden="true"></span>
						<p ng-show="competitorForm.lastName.$invalid && competitorForm.lastName.$dirty" class="help-block">Wpisz nazwisko</p>
					</div>
				</div>

				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Nazwa szkoły</label>
					<div class="col-sm-8" ng-disabled="inProgress"
						ng-class="{
						'has-success': competitorForm.schoolName.$valid,
						'has-error' : competitorForm.schoolName.$invalid && competitorForm.schoolName.$dirty }">
						<input name="schoolName" type="text" class="form-control" ng-model="competitor.schoolName" ng-disabled="inProgress" placeholder="Nazwa szkoły" autocomplete="off" required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.schoolName.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.schoolName.$invalid && competitorForm.schoolName.$dirty" aria-hidden="true"></span>
						<p ng-show="competitorForm.schoolName.$invalid && competitorForm.schoolName.$dirty" class="help-block">Wpisz nazwę Twojej szkoły</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Zespół (opcjonalny)</label>
					<div class="col-sm-8">
						<ui-select name="selectedTeam" ng-model="competitor.team">
							<ui-select-match placeholder="Wpisz nazwę zespołu (min. 3 znaki)">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="team in availableTeams | propsFilter: { name: $select.search }" refresh="refreshTeams($select.search)" refresh-delay="0">
								<div ng-bind-html="team.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Roboty</label>
					<div class="col-sm-8" ng-class="{ 'has-error' : teamForm.robots.$invalid }">
						<ui-select multiple name="robots" class="form-control" ng-model="competitor.robots" ng-disabled="true">
							<ui-select-match placeholder="Wpisz nazwę robota (min. 3 znaki)">{{$item.name}}</ui-select-match>
							<ui-select-choices repeat="robot in availableRobots | propsFilter: { name: $select.search }"
								refresh="refreshRobots($select.search)" refresh-delay="0">
								<div ng-bind-html="robot.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Hasło</label>
					<div class="col-sm-8" ng-class="{
						'has-success': competitorForm.password.$valid,
						'has-error' : competitorForm.password.$invalid && competitorForm.password.$dirty }">
						<input name="password" type="password" class="form-control" pattern="[A-Za-z0-9]{6,}" ng-model="competitor.password"
							placeholder="Hasło" autocomplete="off">
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.password.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.password.$invalid && competitorForm.password.$dirty" aria-hidden="true"></span>
						<p ng-show="competitorForm.password.$error.required && competitorForm.password.$dirty" class="help-block">Hasło nie może być puste</p>
						<p ng-show="competitorForm.password.$error.pattern && competitorForm.password.$dirty" class="help-block">
							Hasło powinno zawierać conajmniej 6 znaków i składać się tylko z liter i cyfr
						</p>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Powtórz hasło</label>
					<div class="col-sm-8" ng-class="{
						'has-success': competitorForm.confirmPassword.$valid,
						'has-error' : competitorForm.confirmPassword.$invalid && competitorForm.password.$dirty }">
						<input name="confirmPassword" type="password" class="form-control" ng-model="competitor.confirmPassword" compare-to="competitor.password" placeholder="Powtórz hasło" autocomplete="off">
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.confirmPassword.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.confirmPassword.$invalid && competitorForm.password.$dirty" aria-hidden="true"></span>
						<p ng-show="competitorForm.confirmPassword.$invalid && competitorForm.password.$dirty" class="help-block">Wpisane hasła nie są takie same</p>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<button class="btn btn-success" ng-disabled="competitorForm.$invalid || competitorForm.$pristine" ng-click="save(competitor)">
							Zapisz
							<span class="glyphicon glyphicon-ok" ng-if="!saveInProgress"></span>
							<i class="fa fa-spinner fa-pulse" ng-if="saveInProgress"></i>
						</button>
						<a href="javascript:;" ng-click="competitorApi.goToList()" class="btn btn-danger">
							<span>Powrót</span>
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
