<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Lista uczestników</span>
			<div class="pull-right" ng-if="isAdmin">
				<a class="btn btn-xs btn-success" href="javascript:;" ng-click="competitorApi.goToCreate()">
					<span class="glyphicon glyphicon-plus"></span>
					<strong>Nowy</strong>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Lp.</th>
							<th>Login</th>
							<th class="hidden-xs">Zespół</th>
							<th class="hidden-xs">Roboty</th>
							<th>Menu</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-class="{ success: competitor.confirmed && competitor.active,
										info: !competitor.confirmed && competitor.active,
										warning: competitor.confirmed && !competitor.active,
										danger: !competitor.confirmed && !competitor.active }" ng-repeat="competitor in competitors">
							<td>{{$index + 1}}.</td>
							<td><a ng-href="#/tournament/competitor/details/{{competitor.guid}}">{{competitor.login}}</a></td>
							<td class="hidden-xs">{{competitor.teamName}}</td>
							<td class="hidden-xs">{{competitor.robotsCount}}</td>
							<td>
								<a class="btn btn-xs btn-info btn-menu" ng-href="#/tournament/competitor/details/{{competitor.guid}}" uib-tooltip="Edytuj">
									<span class="glyphicon glyphicon-cog"></span>
									<strong>Edytuj</strong>
								</a>
								<a class="btn btn-xs btn-success btn-menu" ng-click="!competitor.active && markAsVerified(competitor)"
									ng-disabled="competitor.active" uib-tooltip="Aktywuj">
									<span class="glyphicon glyphicon-play"></span>
									<strong>Aktywuj</strong>
								</a>
								<a class="btn btn-xs btn-warning btn-menu" ng-click="competitor.active  && markAsUnverified(competitor)"
									ng-disabled="!competitor.active" uib-tooltip="Dezaktywuj">
									<span class="glyphicon glyphicon-stop"></span>
									<strong>Zablokuj</strong>
								</a>
								<a class="btn btn-xs btn-success btn-menu" href="javascript:;" ng-click="promoteToUser(competitor)" uib-tooltip="Usuń">
									<span class="glyphicon glyphicon-chevron-up"></span>
									<strong>Promuj</strong>
								</a>
								<a class="btn btn-xs btn-danger btn-menu" href="javascript:;" ng-click="open(competitor)" uib-tooltip="Usuń">
									<span class="glyphicon glyphicon-trash"></span>
									<strong>Usuń</strong>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
