<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="javascript:;"
               class="hidden-sm hidden-md hidden-lg navbar-brand"
               ng-bind="context.tournament.shortName + ' ' + context.selectedEdition.nameSuffix"
               data-toggle="collapse"
               data-target="#navbar-menu"></a>
            <ul class="hidden-xs nav navbar-nav navbar-left nav-tournament">
                <li class="dropdown" ng-if="isCompetitor">
                    <a class="dropdown-toggle nav-tournament" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="hidden-xs hidden-sm" ng-bind="context.tournament.name + ' ' + context.selectedEdition.nameSuffix"></span>
                        <span class="hidden-md hidden-lg"
                              ng-bind="context.tournament.shortName + ' ' + context.selectedEdition.nameSuffix"></span>
                        <span class="caret" ng-bind=""></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="edition in context.editions">
                            <a href="javascript:;"
                               class="hidden-sm"
                               ng-bind="context.tournament.name + ' ' + edition.nameSuffix"
                               ng-click="selectEdition(edition)"></a>
                            <a href="javascript:;"
                               class="hidden-md hidden-lg"
                               ng-bind="context.tournament.shortName + ' ' + edition.nameSuffix"
                               ng-click="selectEdition(edition)"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="navbar-collapse collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown hidden-sm hidden-md hidden-lg" ng-if="isCompetitor">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Wybierz edycję
                        <span class="caret" ng-bind=""></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="edition in context.editions">
                            <a href="#/"
                               ng-bind="context.tournament.shortName + ' ' + context.edition.nameSuffix"
                               ng-click="selectEdition(edition)"
                               data-toggle="collapse" data-target="#navbar-menu"></a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown" ng-if="isCompetitor">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">{{username}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-class="getClass('/home/profile')">
                            <a class="hidden-xs" href="#/home/profile">Profil</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/home/profile">Profil</a>
                        </li>
                        <li ng-class="getClass('/home/tournament/team')">
                            <a class="hidden-xs" href="#/home/tournament/team/details">Twój zespół</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/home/tournament/team/details">Twój zespół</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li ng-class="getClass('/home/tournament/competition')">
                            <a class="hidden-xs" href="#/home/tournament/competition">Konkurencje</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/home/tournament/competition">Konkurencje</a>
                        </li>
                        <li ng-class="getClass('/home/tournament/robot')">
                            <a class="hidden-xs" href="#/home/tournament/robot">Roboty</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/home/tournament/robot">Roboty</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" ng-if="isAdmin">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Strona Główna<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-class="getClass('/website/notice')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/website/notice">Ogłoszenia</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/website/notice">Ogłoszenia</a>
                        </li>
                        <li ng-class="getClass('/website/mail')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/website/mail">E-mail</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/website/mail">E-mail</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" ng-if="isUser">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Turniej<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-class="getClass('/tournament/new')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/tournament/new">Nowy</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/new">Nowy</a>
                        </li>
                        <li ng-class="getClass('/tournament/settings')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/tournament/settings">Ustawienia</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/settings">Ustawienia</a>
                        </li>
                        <li ng-class="getClass('/tournament/edition/new')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/tournament/edition/new">Nowa edycja</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/edition/new">Nowa edycja</a>
                        </li>
                        <li ng-class="getClass('/tournament/edition/settings')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/tournament/edition/settings">Ustawienia edycji</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/edition/settings">Ustawienia edycji</a>
                        </li>
                        <li role="separator" class="divider" ng-if="isAdmin"></li>
                        <li ng-class="getClass('/system/user')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/system/user">Użytkownicy</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/system/user">Użytkownicy</a>
                        </li>
                        <li ng-class="getClass('/tournament/competitor')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/tournament/competitor">Uczestnicy</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/competitor">Uczestnicy</a>
                        </li>
                        <li role="separator" class="divider" ng-if="isAdmin"></li>
                        <li ng-class="getClass('/tournament/reception')" ng-if="isUser">
                            <a class="hidden-xs" href="#/tournament/reception">Recepcja</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/reception">Recepcja</a>
                        </li>
                        <li ng-class="getClass('/tournament/team')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/tournament/team">Zespoły</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/team">Zespoły</a>
                        </li>
                        <li ng-class="getClass('/tournament/robot')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/tournament/robot">Roboty</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/robot">Roboty</a>
                        </li>
                        <li ng-class="getClass('/tournament/competition')" ng-if="isAdmin">
                            <a class="hidden-xs" href="#/tournament/competition">Konkurencje</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/competition">Konkurencje</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" ng-if="isUser">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Wyniki<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-class="getClass('/tournament/result/linefollower')" ng-if="isUser">
                            <a class="hidden-xs" href="#/tournament/result/linefollower">Linefollower</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/result/linefollower">Linefollower</a>
                        </li>
                        <li ng-class="getClass('/tournament/result/sumo')" ng-if="isUser">
                            <a class="hidden-xs" href="#/tournament/result/sumo">Sumo</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/result/sumo">Sumo</a>
                        </li>
                        <li ng-class="getClass('/tournament/result/freestyle')" ng-if="isUser">
                            <a class="hidden-xs" href="#/tournament/result/freestyle">Freestyle</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/result/freestyle">Freestyle</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown" ng-if="isCompetitor">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Rankingi<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li ng-class="getClass('/tournament/ranking/linefollower')" ng-if="isCompetitor">
                            <a class="hidden-xs" href="#/tournament/ranking/linefollower">Linefollower</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/result/linefollower">Linefollower</a>
                        </li>
                        <li ng-class="getClass('/tournament/ranking/sumo')" ng-if="isCompetitor">
                            <a class="hidden-xs" href="#/tournament/ranking/sumo">Sumo</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/ranking/sumo">Sumo</a>
                        </li>
                        <li ng-class="getClass('/tournament/ranking/freestyle')" ng-if="isCompetitor">
                            <a class="hidden-xs" href="#/tournament/ranking/freestyle">Freestyle</a>
                            <a class="hidden-sm hidden-md hidden-lg" data-toggle="collapse" data-target="#navbar-menu"
                               href="#/tournament/ranking/freestyle">Freestyle</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-if="isCompetitor">
                <li>
                    <a href="javascript:;" ng-click="logout()">Wyloguj</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
