<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Nowa edycja turnieju</div>
		</div>
		<div class="panel-body">
            <form name="tournamentForm" class="form-horizontal" autocomplete="off" novalidate="novalidate">

                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Suffix</label>
                    <div class="col-lg-9" ng-class="{
						'has-success': tournamentForm.nameSuffix.$valid,
						'has-error' : tournamentForm.nameSuffix.$invalid && tournamentForm.nameSuffix.$dirty }">
                        <input name="nameSuffix" type="text" class="form-control" ng-model="settings.nameSuffix"
                               ng-model-options="{ updateOn: 'blur' }"
                               ui-validate-async="{ alreadyExists: 'suffixIsFree($modelValue)' }"
                               placeholder="Suffix" autocomplete="off" focusable required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.nameSuffix.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.nameSuffix.$invalid && tournamentForm.nameSuffix.$dirty" aria-hidden="true"></span>
                        <span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="tournamentForm.nameSuffix.$pending.alreadyExists"></i>
						</span>
                        <p class="help-block" ng-show="tournamentForm.nameSuffix.$dirty && tournamentForm.nameSuffix.$error.alreadyExists">Podany suffix już istnieje</span>
                        <p class="help-block" ng-show="tournamentForm.nameSuffix.$dirty && tournamentForm.nameSuffix.$error.required" >Wpisz suffix</p>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-3">
                        <label class="radio-inline">
                            <input type="radio" name="registrationOpenedOptions" ng-model="settings.registrationOpened" ng-value="true">
                            <span>Rejestracja otwarta</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="radio-inline">
                            <input type="radio" name="registrationOpenedOptions" ng-model="settings.registrationOpened" ng-value="false">
                            <span>Rejestracja zamknięta</span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-3">
                        <label class="radio-inline">
                            <input type="radio" name="tournamentStartedOptions" ng-model="settings.tournamentStarted" ng-value="true">
                            <span>Turniej rozpoczety</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="radio-inline">
                            <input type="radio" name="tournamentStartedOptions" ng-model="settings.tournamentStarted" ng-value="false">
                            <span>Turniej zamknięty</span>
                        </label>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Max. ilość robotów Linefollower</label>
                    <div class="col-lg-9" ng-class="{
                        'has-success': tournamentForm.maxLineFollowerPerCompetitor.$valid,
                        'has-error' : tournamentForm.maxLineFollowerPerCompetitor.$invalid && tournamentForm.maxLineFollowerPerCompetitor.$dirty }">
                        <input name="maxLineFollowerPerCompetitor" type="number"
								class="form-control"
								ng-model="settings.maxLineFollowerPerCompetitor"
								placeholder="Max. ilość robotów Linefollower"
								autocomplete="off"
								required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.maxLineFollowerPerCompetitor.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.maxLineFollowerPerCompetitor.$invalid && tournamentForm.maxLineFollowerPerCompetitor.$dirty" aria-hidden="true"></span>
                        <p class="help-block" ng-show="tournamentForm.maxLineFollowerPerCompetitor.$dirty && tournamentForm.maxLineFollowerPerCompetitor.$error.required">Wpisz max. ilość robotów Linefollower</p>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Max. ilość robotów Sumo</label>
                    <div class="col-lg-9" ng-class="{
                        'has-success': tournamentForm.maxSumoPerCompetitor.$valid,
                        'has-error' : tournamentForm.maxSumoPerCompetitor.$invalid && tournamentForm.maxSumoPerCompetitor.$dirty }">
                        <input name="maxSumoPerCompetitor" type="number"
								class="form-control"
								ng-model="settings.maxSumoPerCompetitor"
								placeholder="Max. ilość robotów Sumo"
								autocomplete="off"
								required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.maxSumoPerCompetitor.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.maxSumoPerCompetitor.$invalid && tournamentForm.maxSumoPerCompetitor.$dirty" aria-hidden="true"></span>
                        <p class="help-block" ng-show="tournamentForm.maxSumoPerCompetitor.$dirty && tournamentForm.maxSumoPerCompetitor.$error.required">Wpisz max. ilość robotów Sumo</p>
                    </div>
                </div>
                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Max. ilość robotów Freestyle</label>
                    <div class="col-lg-9" ng-class="{
                        'has-success': tournamentForm.maxFreestylePerCompetitor.$valid,
                        'has-error' : tournamentForm.maxFreestylePerCompetitor.$invalid && tournamentForm.maxFreestylePerCompetitor.$dirty }">
                        <input name="maxFreestylePerCompetitor" type="number"
								class="form-control"
								ng-model="settings.maxFreestylePerCompetitor"
								placeholder="Max. ilość robotów Freestyle"
								autocomplete="off"
								required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.maxFreestylePerCompetitor.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.maxFreestylePerCompetitor.$invalid && tournamentForm.maxFreestylePerCompetitor.$dirty" aria-hidden="true"></span>
                        <p class="help-block" ng-show="tournamentForm.maxFreestylePerCompetitor.$dirty && tournamentForm.maxFreestylePerCompetitor.$error.required">Wpisz max. ilość robotów Freestyle</p>
                    </div>
                </div>

    			<div class="form-group">
    				<div class="col-lg-offset-2 col-lg-9">
    					<button class="btn btn-success" ng-disabled="tournamentForm.$invalid || tournamentForm.$pristine || tournamentForm.$pending" ng-click="save(settings)">
                            <span>Zapisz</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
    				</div>
    			</div>
			</form>
		</div>
	</div>
</div>
