<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title">Usuń edycję turnieju</h4>
</div>
<div class="modal-body">
  <p>Czy na pewno chcesz usunąć <strong>{{entity.tournament.name}} {{entity.selectedEdition.nameSuffix}}</strong> ?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" data-dismiss="modal" data-ng-click="close()">Anuluj</button>
  <button type="button" class="btn btn-danger" data-ng-click="ok()">Usuń</button>
</div>
