<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Nowy turniej</div>
		</div>
		<div class="panel-body">
            <form name="tournamentForm" class="form-horizontal" autocomplete="off" novalidate="novalidate">
                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Nazwa</label>
                    <div class="col-lg-9" ng-class="{
						'has-success': tournamentForm.name.$valid,
						'has-error' : tournamentForm.name.$invalid && tournamentForm.name.$dirty }">
                        <input name="name" type="text" class="form-control" ng-model="tournament.name"
                               ng-model-options="{ updateOn: 'blur' }"
                               ui-validate-async="{ alreadyExists: 'nameIsFree($modelValue)' }"
                               placeholder="Nazwa turnieju" autocomplete="off" focusable required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.name.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.name.$invalid && tournamentForm.name.$dirty" aria-hidden="true"></span>
                        <span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="tournamentForm.name.$pending.alreadyExists"></i>
						</span>
                        <p class="help-block" ng-show="tournamentForm.name.$dirty && tournamentForm.name.$error.alreadyExists">Podana nazwa jest zajęta</span>
                        <p class="help-block" ng-show="tournamentForm.name.$dirty && tournamentForm.name.$error.required" >Wpisz nazwę turnieju</p>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Skrót</label>
                    <div class="col-lg-9" ng-class="{
						'has-success': tournamentForm.shortName.$valid,
						'has-error' : tournamentForm.shortName.$invalid && tournamentForm.shortName.$dirty }">
                        <input name="shortName" type="text" class="form-control" ng-model="tournament.shortName"
                               placeholder="Skróconona nazwa turnieju" autocomplete="off" required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.shortName.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.shortName.$invalid && tournamentForm.shortName.$dirty" aria-hidden="true"></span>
                        <p class="help-block" ng-show="tournamentForm.name.$dirty && tournamentForm.name.$error.required" >Wpisz skróconą nazwę turnieju</p>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Domena</label>
                    <div class="col-lg-9" ng-class="{
						'has-success': tournamentForm.domain.$valid,
						'has-error' : tournamentForm.domain.$invalid && tournamentForm.domain.$dirty }">
                        <input name="domain" type="text" class="form-control" ng-model="tournament.domain"
                               ng-model-options="{ updateOn: 'blur' }"
                               ui-validate-async="{ alreadyExists: 'domainIsFree($modelValue)' }"
                               placeholder="Domena np: www.example.com" autocomplete="off" required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.domain.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.domain.$invalid && tournamentForm.domain.$dirty" aria-hidden="true"></span>
                        <span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="tournamentForm.domain.$pending.alreadyExists"></i>
						</span>
                        <p class="help-block" ng-show="tournamentForm.domain.$dirty && tournamentForm.domain.$error.alreadyExists">Podana domena jest zajęta</span>
                        <p class="help-block" ng-show="tournamentForm.domain.$dirty && tournamentForm.domain.$error.required" >Wpisz domenę turnieju</p>
                    </div>
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Administrator</div>
                    </div>
                    <div class="panel-body">
                        <div class="form-group has-feedback">
                            <label class="col-lg-2 control-label">Login</label>
                            <div class="col-lg-9" ng-class="{
                    'has-success': tournamentForm.login.$valid,
                    'has-error' : ( tournamentForm.login.$error.required || tournamentForm.login.$error.alreadyExists || tournamentForm.login.$error.email) && tournamentForm.login.$dirty }">
                                <div class="input-group">
                                    <span class="input-group-addon">@</span>
                                    <input name="login" type="email" class="form-control" ng-model="tournament.owner.login"
                                           placeholder="Login" autocomplete="off" required >
                                </div>
                                <span class="glyphicon glyphicon-remove form-control-feedback"
                                      ng-show="tournamentForm.login.$invalid && tournamentForm.login.$dirty && !tournamentForm.login.$pending.alreadyExists" aria-hidden="true"></span>
                                <span class="form-control-feedback">
                        <i class="fa fa-spinner" ng-show="tournamentForm.login.$pending.alreadyExists"></i>
                    </span>
                                <p class="help-block" ng-show="tournamentForm.login.$dirty && tournamentForm.login.$error.email">Podaj login w formie adresu e-mail</p>
                                <p class="help-block" ng-show="tournamentForm.login.$dirty && tournamentForm.login.$error.required">Login nie może być pusty</p>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-lg-2 control-label">Imię</label>
                            <div class="col-lg-9" ng-class="{
                    'has-success': tournamentForm.firstName.$valid,
                    'has-error' : tournamentForm.firstName.$invalid && tournamentForm.firstName.$dirty }">
                                <input name="firstName" type="text" class="form-control" ng-model="tournament.owner.firstName" placeholder="Imię" required autocomplete="off">
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.firstName.$valid" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.firstName.$invalid && tournamentForm.firstName.$dirty" aria-hidden="true"></span>
                                <p class="help-block" ng-show="tournamentForm.firstName.$invalid && tournamentForm.firstName.$dirty">Wpisz imię</p>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-lg-2 control-label">Nazwisko</label>
                            <div class="col-lg-9" ng-class="{
                    'has-success': tournamentForm.lastName.$valid,
                    'has-error' : tournamentForm.lastName.$invalid && tournamentForm.lastName.$dirty }">
                                <input name="lastName" type="text" class="form-control" ng-model="tournament.owner.lastName" placeholder="Nazwisko" required autocomplete="off">
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.lastName.$valid" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.lastName.$invalid && tournamentForm.lastName.$dirty" aria-hidden="true"></span>
                                <p ng-show="tournamentForm.lastName.$invalid && tournamentForm.lastName.$dirty" class="help-block">Wpisz nazwisko</p>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-lg-2 control-label">Hasło</label>
                            <div class="col-lg-9" ng-class="{
                    'has-success': tournamentForm.password.$valid,
                    'has-error' : tournamentForm.password.$invalid && tournamentForm.password.$dirty }">
                                <input name="password" type="password" class="form-control" pattern="[A-Za-z0-9]{6,}" ng-model="tournament.owner.password"
                                       placeholder="Hasło" required autocomplete="off">
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.password.$valid" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.password.$invalid && tournamentForm.password.$dirty" aria-hidden="true"></span>
                                <p ng-show="tournamentForm.password.$error.required && tournamentForm.password.$dirty" class="help-block">Hasło nie może być puste</p>
                                <p ng-show="tournamentForm.password.$error.pattern && tournamentForm.password.$dirty" class="help-block">
                                    Hasło powinno zawierać conajmniej 6 znaków i składać się tylko z liter i cyfr
                                </p>
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label class="col-lg-2 control-label">Powtórz hasło</label>
                            <div class="col-lg-9" ng-class="{
                    'has-success': tournamentForm.confirmPassword.$valid,
                    'has-error' : tournamentForm.confirmPassword.$invalid && tournamentForm.password.$dirty }">
                                <input name="confirmPassword" type="password" class="form-control" ng-model="tournament.owner.confirmPassword" compare-to="tournament.owner.password" placeholder="Powtórz hasło" required autocomplete="off">
                                <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.confirmPassword.$valid" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.confirmPassword.$invalid && tournamentForm.password.$dirty" aria-hidden="true"></span>
                                <p ng-show="tournamentForm.confirmPassword.$invalid && tournamentForm.password.$dirty" class="help-block">Wpisane hasła nie są takie same</p>
                            </div>
                        </div>
                    </div>
                </div>

    			<div class="form-group">
    				<div class="col-lg-offset-2 col-lg-9">
    					<button class="btn btn-success" ng-disabled="tournamentForm.$invalid || tournamentForm.$pristine || tournamentForm.$pending" ng-click="save(tournament)">
                            <span>Zapisz</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
    				</div>
    			</div>
			</form>
		</div>
	</div>
</div>
