<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Ustawienia turnieju</div>
		</div>
		<div class="panel-body">
            <form name="tournamentForm" class="form-horizontal" autocomplete="off" novalidate="novalidate">

                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Nazwa</label>
                    <div class="col-lg-9" ng-class="{
						'has-success': tournamentForm.name.$valid,
						'has-error' : tournamentForm.name.$invalid && tournamentForm.name.$dirty }">
                        <input name="name" type="text" class="form-control" ng-model="tournament.name"
                               ng-model-options="{ updateOn: 'blur' }"
                               ui-validate-async="{ alreadyExists: 'nameIsFree($modelValue)' }"
                               placeholder="Nazwa turnieju" autocomplete="off" focusable required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.name.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.name.$invalid && tournamentForm.name.$dirty" aria-hidden="true"></span>
                        <span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="tournamentForm.name.$pending.alreadyExists"></i>
						</span>
                        <p class="help-block" ng-show="tournamentForm.name.$dirty && tournamentForm.name.$error.alreadyExists">Podana nazwa jest zajęta</span>
                        <p class="help-block" ng-show="tournamentForm.name.$dirty && tournamentForm.name.$error.required" >Wpisz nazwę turnieju</p>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Skrót</label>
                    <div class="col-lg-9" ng-class="{
						'has-success': tournamentForm.shortName.$valid,
						'has-error' : tournamentForm.shortName.$invalid && tournamentForm.shortName.$dirty }">
                        <input name="shortName" type="text" class="form-control" ng-model="tournament.shortName"
                               placeholder="Skróconona nazwa turnieju" autocomplete="off" required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.shortName.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.shortName.$invalid && tournamentForm.shortName.$dirty" aria-hidden="true"></span>
                        <p class="help-block" ng-show="tournamentForm.name.$dirty && tournamentForm.name.$error.required" >Wpisz skróconą nazwę turnieju</p>
                    </div>
                </div>

                <div class="form-group has-feedback">
                    <label class="col-lg-2 control-label">Domena</label>
                    <div class="col-lg-9" ng-class="{
						'has-success': tournamentForm.domain.$valid,
						'has-error' : tournamentForm.domain.$invalid && tournamentForm.domain.$dirty }">
                        <input name="domain" type="text" class="form-control" ng-model="tournament.domain"
                               nng-model-options="{ updateOn: 'blur' }"
                               nui-validate-async="{ alreadyExists: 'domainIsFree($modelValue)' }"
                               placeholder="Domena" autocomplete="off" required>
                        <span class="glyphicon glyphicon-ok form-control-feedback" ng-show="tournamentForm.domain.$valid" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="tournamentForm.domain.$invalid && tournamentForm.domain.$dirty" aria-hidden="true"></span>
                        <span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="tournamentForm.domain.$pending.alreadyExists"></i>
						</span>
                        <p class="help-block" ng-show="tournamentForm.domain.$dirty && tournamentForm.domain.$error.alreadyExists">Podana domena jest zajęta</span>
                        <p class="help-block" ng-show="tournamentForm.domain.$dirty && tournamentForm.domain.$error.required" >Wpisz domenę turnieju</p>
                    </div>
                </div>

    			<div class="form-group">
    				<div class="col-lg-offset-2 col-lg-9">
    					<button class="btn btn-success" ng-disabled="tournamentForm.$invalid || tournamentForm.$pristine || tournamentForm.$pending" ng-click="save(tournament)">
                            <span>Zapisz</span>
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
    				</div>
    			</div>
			</form>
		</div>
	</div>
</div>
