.alert {
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	margin-bottom: 50px;
	max-width: 500px;
	position: fixed;
	top: 60px;
	left: 0px;
	right: 0px;
	z-index: 1000;
	width: 100%;
	opacity: 0.9;
}
