<div class="container-fluid">
	<div class="panel panel-primary">
        <div class="panel-heading">
			<span class="panel-title">Lista wyników</span>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Lp.</th>
							<th>Robot</th>
							<th>Wynik [ms]</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="linefollowerResult in linefollowerResults">
							<td>{{$index + 1}}.</td>
							<td>
								<a href="javascript:;" ng-click="homeRobotApi.goToUpdate(linefollowerResult.robot.guid)">{{linefollowerResult.robot.name}}</a>
							</td>
							<td class="hidden-xs">{{linefollowerResult.result}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<a href="javascript:;" ng-click="homeRobotApi.goToList()" class="btn btn-danger">
				<span>Powrót</span>
				<span class="glyphicon glyphicon-remove-circle"></span>
			</a>
		</div>
	</div>
</div>
