<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Edytuj konkurencję</div>
		</div>
		<div class="panel-body">
			<form name="competitionForm" class="form-horizontal" novalidate="novalidate">
				<div class="form-group has-feedback">
					<label class="col-lg-2 control-label">Nazwa</label>
					<div class="col-lg-9" ng-class="{
						'has-success': competitionForm.name.$valid,
						'has-error' : competitionForm.name.$invalid && competitionForm.name.$dirty }">
						<input name="name" type="text" class="form-control" ng-model="competition.name"
								ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'"
								ng-model-options="{ updateOn: 'blur' }"
								ui-validate-async="{ alreadyExists: 'competitionNameIsFree($modelValue)' }"
								placeholder="Nazwa konkurencji" autocomplete="off" focusable required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.name.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.name.$invalid && competitionForm.name.$dirty" aria-hidden="true"></span>
						<span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="competitionForm.name.$pending.alreadyExists"></i>
						</span>
						<p class="help-block" ng-show="competitionForm.name.$dirty && competitionForm.name.$error.alreadyExists">Podana nazwa konkurencji już istnieje</span>
						<p class="help-block" ng-show="competitionForm.name.$dirty && competitionForm.name.$error.required">Wpisz nazwę konkurencji</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Typ konkurencji</label>
					<div class="col-lg-9">
						<select class="form-control" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-options="competitionSubtype as competitionSubtype.name for competitionSubtype in competitionSubtypes track by competitionSubtype.name" ng-model="competition.competitionSubtype" required>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Wymagana ilość zwycięstw</label>
					<div class="col-lg-9 has-feedback" ng-class="{
						'has-success': competitionForm.requiredNumberOfWins.$valid,
						'has-error' : competitionForm.requiredNumberOfWins.$invalid && competitionForm.requiredNumberOfWins.$dirty }">
						<input name="requiredNumberOfWins" type="number" class="form-control" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-model="competition.requiredNumberOfWins" placeholder="Próg dużej wygranej" autocomplete="off" required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.requiredNumberOfWins.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.requiredNumberOfWins.$invalid && competitionForm.requiredNumberOfWins.$dirty" aria-hidden="true"></span>
						<p class="help-block" ng-show="competitionForm.requiredNumberOfWins.$dirty && competitionForm.requiredNumberOfWins.$error.required">Wpisz wymaganą ilość wygranych</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Próg dużej wygranej</label>
					<div class="col-lg-9 has-feedback" ng-class="{
						'has-success': competitionForm.bigWinThreshold.$valid,
						'has-error' : competitionForm.bigWinThreshold.$invalid && competitionForm.bigWinThreshold.$dirty }">
						<input name="bigWinThreshold" type="number" class="form-control" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-model="competition.bigWinThreshold" placeholder="Próg dużej wygranej" autocomplete="off" required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.bigWinThreshold.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.bigWinThreshold.$invalid && competitionForm.bigWinThreshold.$dirty" aria-hidden="true"></span>
						<p class="help-block" ng-show="competitionForm.bigWinThreshold.$dirty && competitionForm.bigWinThreshold.$error.required">Wpisz próg dużej wygranej</p>
					</div>
				</div>

				<div class="form-group">
                    <div class="col-lg-offset-2 col-lg-3">
                        <label class="radio-inline">
                            <input type="radio" name="secondLegOptions"
									ng-model="competition.secondLeg"
									ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'"
									ng-value="false">
                            <span>Jedna runda</span>
                        </label>
                    </div>
                    <div class="col-lg-4">
                        <label class="radio-inline">
                            <input type="radio" name="secondLegOptions"
									ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'"
									ng-model="competition.secondLeg"
									ng-value="true">
                            <span>Mecz i rewanż</span>
                        </label>
                    </div>
                </div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-title">Punktacja</div>
							</div>
							<div class="panel-body">
								<div class="form-group has-feedback">
									<label class="col-lg-2 control-label">Duża wygrana</label>
									<div class="col-lg-9" ng-class="{
										'has-success': competitionForm.bigWinPoints.$valid,
										'has-error' : competitionForm.bigWinPoints.$invalid && competitionForm.bigWinPoints.$dirty }">
										<input name="bigWinPoints" type="number" class="form-control" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-model="competition.bigWinPoints" placeholder="Duża wygrana" autocomplete="off" required>
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.bigWinPoints.$valid" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.bigWinPoints.$invalid && competitionForm.bigWinPoints.$dirty" aria-hidden="true"></span>
										<p class="help-block" ng-show="competitionForm.bigWinPoints.$dirty && competitionForm.bigWinPoints.$error.required">Duża wygrana</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Mała wygrana</label>
									<div class="col-lg-9 has-feedback" ng-class="{
										'has-success': competitionForm.smallWinPoints.$valid,
										'has-error' : competitionForm.smallWinPoints.$invalid && competitionForm.smallWinPoints.$dirty }">
										<input name="smallWinPoints" type="number" class="form-control" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-model="competition.smallWinPoints" placeholder="Mała wygrana" autocomplete="off" required>
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.smallWinPoints.$valid" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.smallWinPoints.$invalid && competitionForm.smallWinPoints.$dirty" aria-hidden="true"></span>
										<p class="help-block" ng-show="competitionForm.smallWinPoints.$dirty && competitionForm.smallWinPoints.$error.required">Mała wygrana</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Mała porażka</label>
									<div class="col-lg-9 has-feedback" ng-class="{
										'has-success': competitionForm.smallLostPoints.$valid,
										'has-error' : competitionForm.smallLostPoints.$invalid && competitionForm.smallLostPoints.$dirty }">
										<input name="smallLostPoints" type="number" class="form-control" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-model="competition.smallLostPoints" placeholder="Mała porażka" autocomplete="off" required>
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.smallLostPoints.$valid" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.smallLostPoints.$invalid && competitionForm.smallLostPoints.$dirty" aria-hidden="true"></span>
										<p class="help-block" ng-show="competitionForm.smallLostPoints.$dirty && competitionForm.smallLostPoints.$error.required">Mała porażka</p>
									</div>
								</div>
								<div class="form-group">
									<label class="col-lg-2 control-label">Duża porażka</label>
									<div class="col-lg-9 has-feedback" ng-class="{
										'has-success': competitionForm.bigLostPoints.$valid,
										'has-error' : competitionForm.bigLostPoints.$invalid && competitionForm.bigLostPoints.$dirty }">
										<input name="bigLostPoints" type="number" class="form-control" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-model="competition.bigLostPoints" placeholder="Duża porażka" autocomplete="off" required>
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.bigLostPoints.$valid" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.bigLostPoints.$invalid && competitionForm.bigLostPoints.$dirty" aria-hidden="true"></span>
										<p class="help-block" ng-show="competitionForm.bigLostPoints.$dirty && competitionForm.bigLostPoints.$error.required">Duża porażka</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Roboty</label>
					<div class="col-lg-9">
						<div class="input-group">
							<ui-select name="selectedRobot" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-model="search.selectedRobot">
								<ui-select-match placeholder="Wpisz nazwę robota (min. 3 znaki)">
									{{$select.selected.name}}
								</ui-select-match>
								<ui-select-choices repeat="robot in search.availableRobots | propsFilter: { name: $select.search }"
									refresh="searchRobots($select.search)" refresh-delay="0">
									<div>
										<span ng-bind-html="robot.name | highlight: $select.search"></span>
									</div>
								</ui-select-choices>
							</ui-select>
							<div class="input-group-btn">
								<button class="btn btn-info" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'"
										ng-click="addRobot(search.selectedRobot)" ng-disabled="!search.selectedRobot.name">Dodaj</button>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-title">Lista robotów</div>
							</div>
							<div class="panel-body">
								<table class="table table-hover table-striped">
									<thead>
										<tr>
											<th style="width: 10%;">Lp.</th>
											<th style="width: 40%;">Nazwa</th>
											<th style="width: 35%;">Typ robota</th>
                                            <th style="width: 15%;">Menu</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="robot in robots">
											<td>{{$index + 1}}.</td>
											<td><a href="javascript:;" ng-click="robotApi.goToUpdate(robot.guid)">{{robot.name}}</a></td>
											<td>{{robot.robotType.name}}</td>
											<td>
												<div class="btn btn-xs btn-danger" ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED'" ng-click="removeRobot(robot)">
													<span class="glyphicon glyphicon-minus"></span>
													<strong>Usuń</strong>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<button class="btn btn-success"
								ng-disabled="competition.status == 'STARTED' || competition.status == 'FINISHED' || competitionForm.$invalid || competitionForm.$pristine || competitionForm.$pending"
								ng-click="save(competition)">Zapisz <span class="glyphicon glyphicon-ok"></span></button>
						<a href="javascript:;" ng-click="sumoCompetitionApi.goToList()" class="btn btn-danger">
							<span>Powrót</span>
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
