<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Lista konkurencji Freestyle</span>
			<div class="pull-right" ng-if="isAdmin">
				<a class="btn btn-xs btn-success" href="javascript:;" ng-click="fsCompetitionApi.goToCreate()">
					<span class="glyphicon glyphicon-plus"></span>
					<strong>Nowy</strong>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th style="width: 10%">Lp.</th>
						<th style="width: 35%">Nazwa</th>
						<th style="width: 20%">Typ konkurencji</th>
						<th style="width: 35%">Menu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="competition in competitions">
						<td>{{$index + 1}}.</td>
						<td><a href="javascript:;" ng-click="fsCompetitionApi.goToUpdate(competition.guid)">{{competition.name}}</a></td>
						<td>{{competition.competitionSubtype.name}}</td>
						<td>
							<div style="display: inline-block;">
								<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="fsCompetitionApi.goToUpdate(competition.guid)" uib-tooltip="Edytuj">
									<span class="glyphicon glyphicon-cog"></span>
									<strong>Edytuj</strong>
								</a>
								<a class="btn btn-xs btn-success btn-menu" ng-disabled="competition.status == 'STARTED'"
									ng-click="(competition.status == 'FINISHED' || competition.status == 'CREATED') && startCompetition(competition)" href="javascript:;" uib-tooltip="Konkurencja start">
									<span class="glyphicon glyphicon-play"></span>
									<strong>Start</strong>
								</a>
								<a class="btn btn-xs btn-warning btn-menu" ng-disabled="competition.status == 'FINISHED' || competition.status == 'CREATED'"
									ng-click="competition.status == 'STARTED' && stopCompetition(competition)" href="javascript:;" uib-tooltip="Konkurencja stop">
									<span class="glyphicon glyphicon-stop"></span>
									<strong>Stop</strong>
								</a>
								<a class="btn btn-xs btn-danger btn-menu" ng-click="open(competition)" uib-tooltip="Usuń">
									<span class="glyphicon glyphicon-trash"></span>
									<strong>Usuń</strong>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<a href="javascript:;" ng-click="competitionApi.goToList()" class="btn btn-danger">
				<span>Powrót</span>
				<span class="glyphicon glyphicon-remove-circle"></span>
			</a>
		</div>
	</div>
</div>
