<div class="container-fluid">
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Utwórz konkurencję</div>
		</div>
		<div class="panel-body">
			<form name="competitionForm" class="form-horizontal" novalidate="novalidate">
				<div class="form-group has-feedback">
					<label class="col-lg-2 control-label">Nazwa</label>
					<div class="col-lg-9" ng-class="{
						'has-success': competitionForm.name.$valid,
						'has-error' : competitionForm.name.$invalid && competitionForm.name.$dirty }">
						<input name="name" type="text" class="form-control" ng-model="competition.name"
								ng-model-options="{ updateOn: 'blur' }"
								ui-validate-async="{ alreadyExists: 'competitionNameIsFree($modelValue)' }"
								placeholder="Nazwa konkurencji" autocomplete="off" focusable required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.name.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.name.$invalid && competitionForm.name.$dirty" aria-hidden="true"></span>
						<span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="competitionForm.name.$pending.alreadyExists"></i>
						</span>
						<p class="help-block" ng-show="competitionForm.name.$dirty && competitionForm.name.$error.alreadyExists">Podana nazwa konkurencji już istnieje</span>
						<p class="help-block" ng-show="competitionForm.name.$dirty && competitionForm.name.$error.required">Wpisz nazwę konkurencji</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Typ konkurencji</label>
					<div class="col-lg-9">
						<select class="form-control" ng-options="competitionSubtype as competitionSubtype.name for competitionSubtype in competitionSubtypes track by competitionSubtype.name" ng-model="competition.competitionSubtype" required>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-title">Punktacja</div>
							</div>
							<div class="panel-body">
								<div class="form-group has-feedback">
									<label class="col-lg-2 control-label">Pierwsze miejsce</label>
									<div class="col-lg-9" ng-class="{
										'has-success': competitionForm.firstPlacePoints.$valid,
										'has-error' : competitionForm.firstPlacePoints.$invalid && competitionForm.firstPlacePoints.$dirty }">
										<input name="firstPlacePoints" type="number" class="form-control" ng-model="competition.firstPlacePoints" placeholder="Pierwsze miejsce" autocomplete="off" required>
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.firstPlacePoints.$valid" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.firstPlacePoints.$invalid && competitionForm.firstPlacePoints.$dirty" aria-hidden="true"></span>
										<p class="help-block" ng-show="competitionForm.firstPlacePoints.$dirty && competitionForm.firstPlacePoints.$error.required">Wpisz ilość punktów za pierwsze miejsce</p>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label class="col-lg-2 control-label">Drugie miejsce</label>
									<div class="col-lg-9" ng-class="{
										'has-success': competitionForm.secondPlacePoints.$valid,
										'has-error' : competitionForm.secondPlacePoints.$invalid && competitionForm.secondPlacePoints.$dirty }">
										<input name="secondPlacePoints" type="number" class="form-control" ng-model="competition.secondPlacePoints" placeholder="Drugie miejsce" autocomplete="off" required>
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.secondPlacePoints.$valid" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.secondPlacePoints.$invalid && competitionForm.secondPlacePoints.$dirty" aria-hidden="true"></span>
										<p class="help-block" ng-show="competitionForm.secondPlacePoints.$dirty && competitionForm.secondPlacePoints.$error.required">Wpisz ilość punktów za drugie miejsce</p>
									</div>
								</div>
								<div class="form-group has-feedback">
									<label class="col-lg-2 control-label">Trzecie miejsce</label>
									<div class="col-lg-9" ng-class="{
										'has-success': competitionForm.thirdPlacePoints.$valid,
										'has-error' : competitionForm.thirdPlacePoints.$invalid && competitionForm.thirdPlacePoints.$dirty }">
										<input name="thirdPlacePoints" type="number" class="form-control" ng-model="competition.thirdPlacePoints" placeholder="Trzecie miejsce" autocomplete="off" required>
										<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitionForm.thirdPlacePoints.$valid" aria-hidden="true"></span>
										<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitionForm.thirdPlacePoints.$invalid && competitionForm.thirdPlacePoints.$dirty" aria-hidden="true"></span>
										<p class="help-block" ng-show="competitionForm.thirdPlacePoints.$dirty && competitionForm.thirdPlacePoints.$error.required">Wpisz ilość punktów za trzecie miejsce</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Roboty</label>
					<div class="col-lg-9">
						<div class="input-group">
							<ui-select name="selectedRobot" ng-model="search.selectedRobot">
								<ui-select-match placeholder="Wpisz nazwę robota (min. 3 znaki)">
									{{$select.selected.name}}
								</ui-select-match>
								<ui-select-choices repeat="robot in search.availableRobots | propsFilter: { name: $select.search }"
									refresh="searchRobots($select.search)" refresh-delay="0">
									<div >
										<span ng-bind-html="robot.name | highlight: $select.search"></span>
									</div>
								</ui-select-choices>
							</ui-select>
							<div class="input-group-btn">
								<button class="btn btn-info" ng-click="addRobot(search.selectedRobot)" ng-disabled="!search.selectedRobot.name">Dodaj</button>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-title">Lista robotów</div>
							</div>
							<div class="panel-body">
								<table class="table table-hover table-striped">
									<thead>
										<tr>
											<th style="width: 10%;">Lp.</th>
											<th style="width: 40%;">Nazwa</th>
											<th style="width: 35%;">Typ robota</th>
                                            <th style="width: 15%;">Menu</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="robot in robots">
											<td>{{$index + 1}}.</td>
											<td><a href="javascript:;" ng-click="robotApi.goToUpdate(robot.guid)">{{robot.name}}</a></td>
											<td>{{robot.robotType.name}}</td>
											<td>
												<div class="btn btn-xs btn-danger" ng-click="removeRobot(robot)">
													<span class="glyphicon glyphicon-minus"></span>
													<strong>Usuń</strong>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<button class="btn btn-success" ng-disabled="competitionForm.$invalid || competitionForm.$pristine || competitionForm.$pending" ng-click="save(competition)">Zapisz <span class="glyphicon glyphicon-ok"></span></button>
						<a href="javascript:;" ng-click="fsCompetitionApi.goToList()" class="btn btn-danger">
							<span>Powrót</span>
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
