<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Ranking Freestyle</span>
		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th style="width: 10%">Miejsce</th>
						<th style="width: 20%">Nazwa</th>
						<th style="width: 30%">Właściciel</th>
						<th style="width: 10%">Pkt</th>
						<th style="width: 10%">1-sze</th>
						<th style="width: 10%">2-gie</th>
						<th style="width: 10%">3-cie</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ranking in rankings">
						<td>{{$index + 1}}.</td>
						<td>{{ranking.robot.name}}</a></td>
						<td>{{ranking.robot.owner.login}}</td>
						<td>{{ranking.points}}</td>
						<td>{{ranking.firstPlaceCount}}</td>
						<td>{{ranking.secondPlaceCount}}</td>
						<td>{{ranking.thirdPlaceCount}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<a href="javascript:;" ng-click="rankingApi.goToFreestyleRankingList()" class="btn btn-danger">
				<span>Powrót</span>
				<span class="glyphicon glyphicon-remove-circle"></span>
			</a>
		</div>
	</div>
</div>
