<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Ranking Linefollower</span>
		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th style="width: 10%">Miejsce</th>
						<th style="width: 35%">Nazwa</th>
						<th style="width: 40%">Właściciel</th>
						<th style="width: 15%">Wynik [ms]</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="ranking in rankings">
						<td>{{$index + 1}}.</td>
						<td>{{ranking.robot.name}}</a></td>
						<td>{{ranking.robot.owner.login}}</td>
						<td>{{ranking.result}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<a href="javascript:;" ng-click="rankingApi.goToLinefollowerRankingList()" class="btn btn-danger">
				<span>Powrót</span>
				<span class="glyphicon glyphicon-remove-circle"></span>
			</a>
		</div>
	</div>
</div>
