<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Lista rankingów Sumo</span>
		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th style="width: 10%">Lp.</th>
						<th style="width: 35%">Nazwa</th>
						<th style="width: 40%">Typ konkurencji</th>
						<th style="width: 15%">Menu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="competition in competitions">
						<td>{{$index + 1}}.</td>
						<td><a href="javascript:;" ng-click="rankingApi.goToSumoRankingDetails(competition.guid)">{{competition.name}}</a></td>
						<td>{{competition.competitionSubtype.name}}</td>
						<td>
							<div style="display: inline-block;">
								<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="rankingApi.goToSumoRankingDetails(competition.guid)" uib-tooltip="Pokaż">
									<span class="glyphicon glyphicon-cog"></span>
									<strong>Pokaż</strong>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
