<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Profil użytkownika</div>
		</div>
		<div class="panel-body">
			<form name="systemUserForm" class="form-horizontal" autocomplete="off">
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Login</label>
					<div class="col-sm-8 has-success">
						<div class="input-group">
							<span class="input-group-addon">@</span>
							<input name="login" type="email" class="form-control" ng-model="systemUser.login"
									placeholder="Login" readonly>
						</div>
						<span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Imię</label>
					<div class="col-sm-8" ng-class="{
						'has-success': systemUserForm.firstName.$valid,
						'has-error' : systemUserForm.firstName.$invalid && systemUserForm.firstName.$dirty }">
						<input name="firstName" type="text" class="form-control" ng-model="systemUser.firstName" placeholder="Imię" focusable required autocomplete="off">
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="systemUserForm.firstName.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="systemUserForm.firstName.$invalid && systemUserForm.firstName.$dirty" aria-hidden="true"></span>
						<p class="help-block" ng-show="systemUserForm.firstName.$invalid && systemUserForm.firstName.$dirty">Wpisz imię</p>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Nazwisko</label>
					<div class="col-sm-8" ng-class="{
						'has-success': systemUserForm.lastName.$valid,
						'has-error' : systemUserForm.lastName.$invalid && systemUserForm.lastName.$dirty }">
						<input name="lastName" type="text" class="form-control" ng-model="systemUser.lastName" placeholder="Nazwisko" required autocomplete="off">
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="systemUserForm.lastName.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="systemUserForm.lastName.$invalid && systemUserForm.lastName.$dirty" aria-hidden="true"></span>
						<p ng-show="systemUserForm.lastName.$invalid && systemUserForm.lastName.$dirty" class="help-block">Wpisz nazwisko</p>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Hasło</label>
					<div class="col-sm-8" ng-class="{
						'has-success': systemUserForm.password.$valid,
						'has-error' : systemUserForm.password.$invalid && systemUserForm.password.$dirty }">
						<input name="password" type="password" class="form-control" pattern="[A-Za-z0-9]{6,}" ng-model="systemUser.password"
							placeholder="Hasło" autocomplete="off">
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="systemUserForm.password.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="systemUserForm.password.$invalid && systemUserForm.password.$dirty" aria-hidden="true"></span>
						<p ng-show="systemUserForm.password.$error.required && systemUserForm.password.$dirty" class="help-block">Hasło nie może być puste</p>
						<p ng-show="systemUserForm.password.$error.pattern && systemUserForm.password.$dirty" class="help-block">
							Hasło powinno zawierać conajmniej 6 znaków i składać się tylko z liter i cyfr
						</p>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Powtórz hasło</label>
					<div class="col-sm-8" ng-class="{
						'has-success': systemUserForm.confirmPassword.$valid,
						'has-error' : systemUserForm.confirmPassword.$invalid && systemUserForm.password.$dirty }">
						<input name="confirmPassword" type="password" class="form-control" ng-model="systemUser.confirmPassword" compare-to="systemUser.password" placeholder="Powtórz hasło" autocomplete="off">
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="systemUserForm.confirmPassword.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="systemUserForm.confirmPassword.$invalid && systemUserForm.password.$dirty" aria-hidden="true"></span>
						<p ng-show="systemUserForm.confirmPassword.$invalid && systemUserForm.password.$dirty" class="help-block">Wpisane hasła nie są takie same</p>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Rola</label>
					<div class="col-sm-8">
						<select class="form-control" ng-options="systemRole as systemRole.name for systemRole in systemRoles track by systemRole.name" ng-model="systemUser.systemRole" required>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<button class="btn btn-success" ng-disabled="systemUserForm.$invalid || systemUserForm.$pristine || systemUserForm.$pending" ng-click="save(systemUser)">
							Zapisz
							<span class="glyphicon glyphicon-ok" ng-if="!saveInProgress"></span>
							<i class="fa fa-spinner fa-pulse" ng-if="saveInProgress"></i>
						</button>
						<a href="javascript:;" class="btn btn-danger" ng-click="systemUserApi.goToList()">
							<span>Powrót</span>
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
