<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Lista użytkowników</span>
			<div class="pull-right" ng-if="isAdmin">
				<a class="btn btn-xs btn-success" href="javascript:;" ng-click="systemUserApi.goToCreate()">
					<span class="glyphicon glyphicon-plus"></span>
					<strong>Nowy</strong>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Lp.</th>
						<th>Login</th>
						<th class="hidden-xs">Rola</th>
						<th>Menu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-class="{ success: systemUser.active, danger: !systemUser.active }" ng-repeat="systemUser in systemUsers">
						<td>{{$index + 1}}.</td>
						<td>
							<a href="javascript:;" ng-click="systemUserApi.goToUpdate(systemUser.guid)">{{systemUser.login}}</a>
						</td>
						<td class="hidden-xs">{{systemUser.systemRole.name}}</td>
						<td>
							<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="systemUserApi.goToUpdate(systemUser.guid)" uib-tooltip="Edytuj">
								<span class="glyphicon glyphicon-cog"></span>
								<strong>Edytuj</strong>
							</a>
							<a class="btn btn-xs btn-success btn-menu" ng-click="!systemUser.active && markAsVerified(systemUser)"
								ng-disabled="systemUser.active" uib-tooltip="Aktywuj">
								<span class="glyphicon glyphicon-play"></span>
								<strong>Aktywuj</strong>
							</a>
							<a class="btn btn-xs btn-warning btn-menu" ng-click="systemUser.active  && markAsUnverified(systemUser)"
								ng-disabled="!systemUser.active" uib-tooltip="Dezaktywuj">
								<span class="glyphicon glyphicon-stop"></span>
								<strong>Zablokuj</strong>
							</a>
							<a class="btn btn-xs btn-danger btn-menu" href="javascript:;" ng-click="open(systemUser)" uib-tooltip="Usuń">
								<span class="glyphicon glyphicon-trash"></span>
								<strong>Usuń</strong>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
