<div class="container-fluid">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span class="panel-title">Lista robotów</span>
			<div class="pull-right" ng-if="isAdmin">
				<a class="btn btn-xs btn-success" href="javascript:;" ng-click="robotApi.goToCreate()">
					<span class="glyphicon glyphicon-plus"></span>
					<strong>Nowy</strong>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div id="grid1" ui-grid="gridOptions" class="grid"></div>
		</div>
	</div>
</div>
