<div class="container-fluid">
	<div ng-include="'views/home/home.view.html'"></div>

    <div id="competitions" role="tabpanel" class="tab-pane">
		<div class="panel panel-primary">
		  <!-- Default panel contents -->
			<div class="panel-heading">Konkurencje</div>
			<div class="panel-body">
				<p>Lista konkurencji, w których biorą udział Twoje roboty (konkurencje pojawią się w momencie rozpoczęcia turnieju):</p>
			</div>

			<!-- Table -->
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th style="width: 10%">Lp.</th>
						<th style="width: 35%">Nazwa</th>
						<th style="width: 40%">Typ konkurencji</th>
						<th style="width: 15%">Menu</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="competition in competitions">
						<td>{{$index + 1}}.</td>
						<td>
							<a href="javascript:;" ng-click="homeCompetitionApi.goToPreview(competition.guid)">{{competition.name}}</a>
						</td>
						<td>{{competition.competitionSubtype.name}}</td>
						<td>
							<div style="display: inline-block;">
								<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="homeCompetitionApi.goToPreview(competition.guid)">
									<span class="glyphicon glyphicon-search"></span>
									<strong>Podgląd</strong>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		<p ng-if="competitions.length < 1">Brak wyników</p>
		</div>
	</div>
</div>
