<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Podgląd konkurencji</div>
		</div>
		<div class="panel-body">
			<form name="competitionForm" class="form-horizontal" novalidate="novalidate">
				<div class="form-group">
					<label class="col-lg-2 control-label">Nazwa</label>
					<div class="col-lg-9">
						<input name="name" type="text" class="form-control" ng-model="competition.name" readonly>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Typ</label>
					<div class="col-lg-9">
						<select class="form-control" ng-options="competitionSubtype as competitionSubtype.name for competitionSubtype in competitionSubtypes track by competitionSubtype.name" ng-model="competition.competitionSubtype" disabled>
						</select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<div class="panel-title">Lista robotów</div>
							</div>
							<div class="panel-body">
								<table class="table table-hover table-striped">
									<thead>
										<tr>
											<th style="width: 10%;">Lp.</th>
											<th style="width: 40%;">Nazwa</th>
											<th style="width: 35%;">Typ robota</th>
                                            <th style="width: 15%;">Menu</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="robot in robots">
											<td>{{$index + 1}}.</td>
											<td><a href="javascript:;" ng-click="homeRobotApi.goToPreview(robot.guid)">{{robot.name}}</a></td>
											<td>{{robot.robotType.name}}</td>
											<td>
                                                <div style="display: inline-block;">
                    								<a class="btn btn-xs btn-info" href="javascript:;" ng-click="homeRobotApi.goToPreview(robot.guid)">
                    									<span class="glyphicon glyphicon-search"></span>
                    									<strong>Podgląd</strong>
                    								</a>
                    							</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<a href="javascript:;" ng-click="homeCompetitionApi.goToList()" class="btn btn-danger">
							<span>Powrót</span>
							<span class="glyphicon glyphicon-remove-circle"></span>
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
