<div class="container login-form">
    <div class="panel panel-primary">
        <div class="panel-heading">Robot Challenge 2016</div>
        <div class="panel-body" style="padding: 0px">
            <ul class="nav nav-tabs nav-justified">
                <li ng-class="getClass(['/registration', '/registered', '/verification'])" >
                    <a href="#/registration">Rejestracja</a>
                </li>
                <li ng-class="getClass(['/login'])">
                    <a href="#/login">Logowanie</a>
                </li>
            </ul>
            <div ng-view="" style="padding: 20px;"></div>
      </div>
    </div>
</div>
