<form name="competitorForm" class="form-horizontal" autocomplete="off">
	<div class="form-group has-feedback">
		<label class="col-sm-4 control-label">Login</label>
		<div class="col-sm-7" ng-disabled="inProgress"
			ng-class="{
			'has-success': competitorForm.login.$valid,
			'has-error' : ( competitorForm.login.$error.required || competitorForm.login.$error.alreadyExists || competitorForm.login.$error.email) && competitorForm.login.$dirty }">
			<div class="input-group">
				<span class="input-group-addon">@</span>
				<input name="login" type="email" class="form-control" ng-disabled="inProgress" ng-model="competitor.login"
				 		ng-model-options="{ updateOn: 'blur' }"
						ui-validate-async="{alreadyExists: 'competitorLoginIsFree($modelValue)' }"
						placeholder="Login" autofocus autocomplete="off" required>
			</div>
			<span class="form-control-feedback"><i class="fa fa-spinner fa-pulse" ng-show="competitorForm.login.$pending.alreadyExists"></i></span>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.login.$valid" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.login.$invalid && competitorForm.login.$dirty" aria-hidden="true"></span>
			<p class="help-block" ng-show="competitorForm.login.$dirty && competitorForm.login.$error.email">Podaj login w formie adresu e-mail</p>
			<p class="help-block" ng-show="competitorForm.login.$dirty && competitorForm.login.$error.required">Login nie może być pusty</p>
			<p class="help-block" ng-show="competitorForm.login.$dirty && competitorForm.login.$error.alreadyExists">Podany login już istnieje</span>
		</div>
	</div>
	<div class="form-group has-feedback">
		<label class="col-sm-4 control-label">Imię</label>
		<div class="col-sm-7" ng-disabled="inProgress"
			ng-class="{
			'has-success': competitorForm.firstName.$valid,
			'has-error' : competitorForm.firstName.$invalid && competitorForm.firstName.$dirty }">
			<input name="firstName" type="text" class="form-control" ng-model="competitor.firstName" ng-disabled="inProgress" placeholder="Imię" autocomplete="off" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.firstName.$valid" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.firstName.$invalid && competitorForm.firstName.$dirty" aria-hidden="true"></span>
			<p ng-show="competitorForm.firstName.$invalid && competitorForm.firstName.$dirty" class="help-block">Wpisz imię</p>
		</div>
	</div>
	<div class="form-group has-feedback">
		<label class="col-sm-4 control-label">Nazwisko</label>
		<div class="col-sm-7" ng-disabled="inProgress"
			ng-class="{
			'has-success': competitorForm.lastName.$valid,
			'has-error' : competitorForm.lastName.$invalid && competitorForm.lastName.$dirty }">
			<input name="lastName" type="text" class="form-control" ng-model="competitor.lastName" ng-disabled="inProgress" placeholder="Nazwisko" autocomplete="off" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.lastName.$valid" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.lastName.$invalid && competitorForm.lastName.$dirty" aria-hidden="true"></span>
			<p ng-show="competitorForm.lastName.$invalid && competitorForm.lastName.$dirty" class="help-block">Wpisz nazwisko</p>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label class="col-sm-4 control-label">Nazwa szkoły</label>
		<div class="col-sm-7" ng-disabled="inProgress"
			ng-class="{
			'has-success': competitorForm.schoolName.$valid,
			'has-error' : competitorForm.schoolName.$invalid && competitorForm.schoolName.$dirty }">
			<input name="schoolName" type="text" class="form-control" ng-model="competitor.schoolName" ng-disabled="inProgress" placeholder="Nazwa szkoły" autocomplete="off" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.schoolName.$valid" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.schoolName.$invalid && competitorForm.schoolName.$dirty" aria-hidden="true"></span>
			<p ng-show="competitorForm.schoolName.$invalid && competitorForm.schoolName.$dirty" class="help-block">Wpisz nazwę Twojej szkoły</p>
		</div>
	</div>

	<div class="form-group has-feedback">
		<label class="col-sm-4 control-label">Hasło</label>
		<div class="col-sm-7" ng-class="{
			'has-success': competitorForm.password.$valid,
			'has-error' : competitorForm.password.$invalid && competitorForm.password.$dirty }">
			<input name="password" type="password" class="form-control" ng-model="competitor.password"
					ng-disabled="inProgress" placeholder="Hasło" autocomplete="off" pattern="[A-Za-z0-9]{6,}" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.password.$valid" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.password.$invalid && competitorForm.password.$dirty" aria-hidden="true"></span>
			<p ng-show="competitorForm.password.$error.required && competitorForm.password.$dirty" class="help-block">
				Hasło nie może być puste
			</p>
			<p ng-show="competitorForm.password.$error.pattern && competitorForm.password.$dirty" class="help-block">
				Hasło powinno zawierać conajmniej 6 znaków i składać się tylko z liter i cyfr
			</p>
		</div>
	</div>
	<div class="form-group has-feedback">
		<label class="col-sm-4 control-label">Powtórz hasło</label>
		<div class="col-sm-7" ng-disabled="inProgress"
			ng-class="{
			'has-success': competitorForm.confirmPassword.$valid,
			'has-error' : competitorForm.confirmPassword.$invalid && competitorForm.password.$dirty }">
			<input name="confirmPassword" type="password" class="form-control" ng-model="competitor.confirmPassword" compare-to="competitor.password" ng-disabled="inProgress" placeholder="Powtórz hasło" autocomplete="off" required>
			<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="competitorForm.confirmPassword.$valid" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="competitorForm.confirmPassword.$invalid && competitorForm.password.$dirty" aria-hidden="true"></span>
			<p ng-show="competitorForm.confirmPassword.$invalid && competitorForm.password.$dirty" class="help-block">Wpisane hasła nie są takie same</p>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-7">
			<button class="btn btn-success" ng-disabled="competitorForm.$invalid || competitorForm.$pristine || competitorForm.$pending || inProgress" ng-click="save(competitor)">
				Utwórz Konto
				<span class="glyphicon glyphicon-ok" ng-if="!inProgress"></span>
				<i class="fa fa-spinner fa-pulse" ng-if="inProgress"></i>
			</button>
		</div>
	</div>
</form>
