<div ng-if="verified">
    <h4>Twoje konto zostało pomyślnie zweryfikowane.</h4>
    <a href="/panel/login/#login">Zaloguj się</a>
</div>

<div ng-if="verificationInProgress">
    <h4>Trwa weryfikacja Twojego konta. <i class="fa fa-spinner fa-pulse" ng-if="inProgress"></i></h4>
</div>

<div ng-if="verificationFailed">
    <h4>Nie udało się zweryfikować Twojego konta.</h4>
</div>
