<div class="container-fluid">
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Dodaj wynik</div>
		</div>
		<div class="panel-body">
			<form name="linefollowerResultForm" class="form-horizontal" novalidate="novalidate">
				<div class="form-group has-feedback">
					<label class="col-lg-2 control-label">Wynik</label>
					<div class="col-lg-9" ng-class="{
						'has-success' : linefollowerResultForm.result.$valid,
						'has-error' : linefollowerResultForm.result.$invalid && linefollowerResultForm.result.$dirty }">
						<input name="result" type="number" class="form-control" ng-model="linefollowerResult.result" placeholder="Wynik" autocomplete="off" focusable required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="linefollowerResultForm.result.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="linefollowerResultForm.result.$invalid && linefollowerResultForm.result.$dirty" aria-hidden="true"></span>
						<p class="help-block" ng-show="linefollowerResultForm.result.$dirty && linefollowerResultForm.result.$error.required">Wpisz wynik</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Konkurencje</label>
					<div class="col-lg-9">
						<select class="form-control" ng-options="competition as competition.name for competition in competitions track by competition.name" ng-model="linefollowerResult.selectedCompetition" required>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-lg-2 control-label">Robot</label>
					<div class="col-lg-9" ng-class="{ 'has-error' : linefollowerResultForm.selectedRobot.$invalid && linefollowerResultForm.selectedRobot.$dirty }">
						<ui-select name="selectedRobot" ng-model="linefollowerResult.selectedRobot" required>
							<ui-select-match placeholder="Wpisz nazwę robota (min. 3 znaki)">
								{{$select.selected.name}}
							</ui-select-match>
							<ui-select-choices repeat="robot in availableRobots | propsFilter: { name: $select.search }"
								refresh="searchRobots($select.search)" refresh-delay="0">
								<div >
									<span ng-bind-html="robot.name | highlight: $select.search"></span>
								</div>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>

				<div class="form-group">
					<div class="col-lg-offset-2 col-lg-9">
						<button class="btn btn-success" ng-disabled="linefollowerResultForm.$invalid || linefollowerResultForm.$pristine || linefollowerResultForm.$pending" ng-click="save(linefollowerResult)">Zapisz <span class="glyphicon glyphicon-ok"></span></button>
						<a href="javascript:;" ng-click="lfResultApi.goToList(competition.guid)" class="btn btn-danger">Powrót <span class="glyphicon glyphicon-remove-circle"></span></a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
