<div class="container-fluid">
	<div class="panel panel-primary">
        <div class="panel-heading">
			<span class="panel-title">Lista wyników</span>
			<div class="pull-right" ng-if="isUser">
				<a class="btn btn-xs btn-success" href="javascript:;" ng-click="lfResultApi.goToCreate(competition.guid)">
					<span class="glyphicon glyphicon-plus"></span>
					<strong>Nowy</strong>
				</a>
			</div>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-hover table-striped">
					<thead>
						<tr>
							<th>Lp.</th>
							<th>Robot</th>
							<th class="hidden-xs">Autor</th>
							<th>Wynik [ms]</th>
							<th>Menu</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="linefollowerResult in linefollowerResults">
							<td>{{$index + 1}}.</td>
							<td><a href="javascript:;" ng-click="lfResultApi.goToUpdate(competition.guid, linefollowerResult.guid)">{{linefollowerResult.robot.name}}</a></td>
							<td class="hidden-xs">{{linefollowerResult.author.login}}</td>
							<td class="hidden-xs">{{linefollowerResult.result}}</td>
							<td>
                                <div style="display: inline-block;">
    								<a class="btn btn-xs btn-info btn-menu" href="javascript:;" ng-click="lfResultApi.goToUpdate(competition.guid, linefollowerResult.guid)" uib-tooltip="Edytuj">
    									<span class="glyphicon glyphicon-cog"></span>
    									<strong>Edytuj</strong>
    								</a>
    								<a class="btn btn-xs btn-danger btn-menu" ng-click="open(linefollowerResult)" uib-tooltip="Usuń">
    									<span class="glyphicon glyphicon-trash"></span>
    									<strong>Usuń</strong>
    								</a>
    							</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<a href="javascript:;" ng-click="lfResultApi.goToLfCompetitionList()" class="btn btn-danger">
				<span>Powrót</span>
				<span class="glyphicon glyphicon-remove-circle"></span>
			</a>
		</div>
	</div>
</div>
