<div class="container-fluid" >
	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="panel-title">Utwórz zespół</div>
		</div>
		<div class="panel-body">
			<form name="teamForm" class="form-horizontal">
				<div class="form-group has-feedback">
					<label class="col-sm-3 control-label">Nazwa</label>
					<div class="col-sm-8" ng-class="{
						'has-success': teamForm.name.$valid,
						'has-error' : teamForm.name.$invalid && teamForm.name.$dirty }">
						<input name="name" type="text" class="form-control" ng-model="team.name"
								ng-model-options="{ updateOn: 'blur' }"
								ui-validate-async="{ alreadyExists: 'teamNameIsFree($modelValue)' }"
								placeholder="Nazwa" autocomplete="off" focusable required>
						<span class="glyphicon glyphicon-ok form-control-feedback" ng-show="teamForm.name.$valid" aria-hidden="true"></span>
						<span class="glyphicon glyphicon-remove form-control-feedback" ng-show="teamForm.name.$invalid && teamForm.name.$dirty" aria-hidden="true"></span>
						<span class="form-control-feedback">
							<i class="fa fa-spinner" ng-show="teamForm.name.$pending.alreadyExists"></i>
						</span>
						<p class="help-block" ng-show="teamForm.name.$dirty && teamForm.name.$error.alreadyExists">Podana nazwa zespołu już istnieje</span>
						<p class="help-block" ng-show="teamForm.name.$dirty && teamForm.name.$error.required" >Wpisz nazwę zespołu</p>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Kapitan zespołu</label>
					<div class="col-sm-8">
						<input name="fullName" type="text" class="form-control" ng-model="team.captain.fullName" readonly autocomplete="off">
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-3 control-label">Członkowie zespołu</label>
					<div class="col-sm-8" ng-class="{ 'has-error' : teamForm.selectedCompetitors.$dirty && teamForm.selectedCompetitors.$invalid }">
						<ui-select multiple name="selectedCompetitors" class="form-control" ng-model="team.competitors">
							<ui-select-match placeholder="Wpisz imię, nazwisko lub e-mail uczestnika (min. 3 znaki)">{{$item.firstName}} {{$item.lastName}}</ui-select-match>
							<ui-select-choices repeat="competitor in availableCompetitors | propsFilter: { firstName: $select.search, lastName: $select.search, login: $select.search }"
								refresh="refreshCompetitors($select.search)" refresh-delay="0">
								<div >
									<span ng-bind-html="competitor.firstName | highlight: $select.search"></span>
									<span ng-bind-html="competitor.lastName | highlight: $select.search"></span>
								</div>
								<small>
									email: <span ng-bind-html="''+competitor.login | highlight: $select.search"></span>
								</small>
							</ui-select-choices>
						</ui-select>
						<p ng-show="teamForm.selectedCompetitors.$dirty && teamForm.selectedCompetitors.$invalid" class="help-block">Dodaj członków zespołu</p>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-8">
						<button class="btn btn-success" ng-disabled="teamForm.$invalid || teamForm.$pristine || teamForm.$pending" ng-click="save(team)">
							<span>Zapisz</span>
							<span class="glyphicon glyphicon-ok"></span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
