<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="hidden-xs hidden-sm navbar-brand" href="http://rc.tl.krakow.pl">Robot Challenge 2016</a>
      <a class="hidden-md hidden-lg navbar-brand" href="http://rc.tl.krakow.pl">RC 2016</a>
    </div>
  </div>
</nav>
